body {
    font-family: Tahoma, sans-serif;
    margin: 0;
}

.Contact-View-title {
    font-size: 24px;
    padding: 0 24px;
}

.Contact-View-list {
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid #f0f0f0;
}

.ContactItem {
    margin: 0;
    padding: 8px 24px;
    border-bottom: 1px solid #f0f0f0;
}

.ContactItem-name {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.ContactItem-email {
    font-size: 14px;
    margin-top: 4px;
    font-style: italic;
    color: #888;
}

.ContactItem-description {
    font-size: 14px;
    margin-top: 4px;
}

.ContactForm {
    padding: 8px 24px;
}

.ContactForm > input,
.ContactForm > textarea {
    display: block;
    width: 240px;
    padding: 4px 8px;
    margin-bottom: 8px;
    border-radius: 3px;
    border: 1px solid #888;
    font-size: 14px;
}

.ContactForm > input.ContactForm-error {
  border-color: #b30e2f;
}

.ContactForm-errormsg {
    padding: 4px 8px;
    margin-bottom: 8px;
    font-size: 12px;
    color: #b30e2f;
}
